<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco dei corsi</title>
</head>
<body>
    <h1>Sono la view per l'action Index del HomeController</h1>
    <header>
        <nav>
            <ul>
                <li>Pagina1</li>
                <li>Pagina2</li>
                <li>Pagina3</li>
                <li>Pagina4</li>
                <li>Pagina5</li>
            </ul>
        </nav>
    </header>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta natus praesentium error dignissimos delectus, laboriosam fuga illum atque labore inventore nam iusto ad aspernatur nesciunt tempora laudantium accusamus iure excepturi.</p>
    <p>Aut adipisci iure tempore est eligendi aliquam illo pariatur delectus explicabo eius assumenda, nobis possimus accusamus corporis quas ex ullam at doloribus et voluptates saepe neque minus nesciunt! Culpa, hic.</p>
    <p>Repellendus itaque in distinctio amet adipisci, nostrum consequuntur! Accusantium, tempora? Recusandae, architecto magnam obcaecati quidem, dolorum temporibus quae culpa saepe distinctio voluptas voluptatum omnis in quia pariatur voluptatem ut suscipit?</p>
    <p>Animi, nulla consequuntur! Tempore harum sit officiis sapiente ea quis velit eos quasi vero minus, facere in repellendus ducimus voluptatibus nobis obcaecati quibusdam excepturi officia dolorem id nihil. Consequatur, excepturi.</p>
    <p>Ex nisi, sunt, commodi consequatur optio natus possimus eveniet quia, perferendis nihil laudantium asperiores magni rerum esse sint sed accusantium minima eius minus velit quae impedit architecto laborum adipisci. Nobis.</p>
     <footer>
        <p>Contattaci al numero...</p>
     </footer>
</body>
</html>